@import "src/styles/variable.scss";
img.tx-list-icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  cursor: pointer;
}
.tx-container {
  position: absolute;
  right: 0;
  top: 90px;
  bottom: 0;
  width: 360px;
  background: #202020;
  & > .title {
    padding: 0 25px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
    position: relative;
    font-family: "fontDemiBold";
    .clear {
      position: absolute;
      right: 25px;
      bottom: 0;
      font-size: 14px;
      color: #6162ef;
      cursor: pointer;
      font-family: "fontRegular";
    }
  }
  .no-data {
    text-align: center;
    margin-top: 30px;
    color: #8aa1a1;
  }
  ul.tx-list {
    height: calc(100% - 90px);
    padding: 0 20px 20px;
    li {
      font-size: 14px;
      cursor: pointer;
      width: 100%;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #ffffff0d;
      border-radius: 10px;
      padding: 0 20px;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &:hover {
        background: #2b312d;
        border: 1px solid #46b069;
      }
      .hash {
        font-family: "fontRegular";
        display: flex;
        align-items: center;
        color: #46b069;
        img.logo {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
        img.copy {
          width: 12px;
          height: 12px;
          margin-left: 10px;
        }
      }
      .tx-desc {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tx-desc-left {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .tx-desc-right {
          display: flex;
          align-items: center;
          .tx-status-icon {
            width: 30px;
          }
          span.link {
            margin-left: 10px;
            display: inline-block;
            width: 14px;
            height: 14px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("/assets/images/swap-result/link.png");
            &:hover {
              background-image: url("/assets/images/swap-result/link-active.png");
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobileMinWidth) {
  .tx-container {
    position: static;
    background: none;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    & > .title {
      margin-top: 0;
      padding: 0 5%;
      .clear {
        right: 8%;
        font-size: 16px;
        color: #46b069;
      }
    }
    ul.tx-list {
      height: calc(100% - 126px);
      padding: 0 5%;
      li .tx-desc .tx-desc-right span.link {
        background-image: url("/assets/images/swap-result/link-active.png");
      }
    }
    button.clear {
      margin-top: 10px;
      width: 90%;
      height: 56px;
      position: absolute;
      bottom: 10px;
      left: 5%;
      right: 5%;
      border: 1px solid #6162ef;
      border-radius: 11px;
      color: #6162ef;
      font-size: 17px;
    }
  }
}
