<div class="group-container">
  <div class="left">
    <ul>
      <li class="item-list">
        <div>
          USDT+BUSD+HUSD: <span class="value">&nbsp;&nbsp;<app-long-balance [balance]="pusdtBalance.ALL">
            </app-long-balance></span>
        </div>
      </li>
      <li class="item-list">
        <div class="item-logo-box">
          <img [src]="USDTToken.logo" alt="" class="token-logo">
          <img class="token-type" src="/assets/images/bridge-liquidity/erc20.png" alt="">
        </div>
        <div>
          <div>
            <div>USDT: <span class="value">
                <app-long-balance [balance]="pusdtBalance.ETH.value"></app-long-balance>
              </span>
              ({{ pusdtBalance.ETH.percentage }}%)</div>
          </div>
          <div class="progress-container">
            <nz-progress class="progress" [nzPercent]="pusdtBalance.ETH.percentage" [nzShowInfo]="false"
              nzStrokeWidth="6" nzStrokeColor="#46B069">
            </nz-progress>
          </div>
        </div>
      </li>
      <li class="item-list">
        <div class="item-logo-box">
          <img [src]="BUSDToken.logo" alt="" class="token-logo">
          <img class="token-type" src="/assets/images/bridge-liquidity/bep20.png" alt="">
        </div>
        <div>
          <div>
            <div>BUSD: <span class="value">
                <app-long-balance [balance]="pusdtBalance.BSC.value"></app-long-balance>
              </span>
              ({{ pusdtBalance.BSC.percentage }}%)</div>
          </div>
          <div class="progress-container">
            <nz-progress class="progress" [nzPercent]="pusdtBalance.BSC.percentage" [nzShowInfo]="false"
              nzStrokeWidth="6" nzStrokeColor="#46B069">
            </nz-progress>
          </div>
        </div>
      </li>
      <li class="item-list">
        <div class="item-logo-box">
          <img [src]="HUSDToken.logo" alt="" class="token-logo">
          <img class="token-type" src="/assets/images/bridge-liquidity/hrc20.png" alt="">
        </div>
        <div>
          <div>
            <div>HUSD: <span class="value">
                <app-long-balance [balance]="pusdtBalance.HECO.value"></app-long-balance>
              </span>
              ({{ pusdtBalance.HECO.percentage }}%)</div>
          </div>
          <div class="progress-container">
            <nz-progress class="progress" [nzPercent]="pusdtBalance.HECO.percentage" [nzShowInfo]="false"
              nzStrokeWidth="6" nzStrokeColor="#46B069">
            </nz-progress>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right">
    <!-- <div class="item-list">
      <span class="name">{{ liquidityType == 'add' ? 'Receive' : 'PayAmount' }}</span>
      <span class="value">{{ (liquidityType == 'add' ? receiveAmount : payAmount) | transNumber }}</span>
    </div> -->
    <!-- <div class="item-list">
      <span class="name">Max slippage</span>
      <span class="value">{{BRIDGE_SLIPVALUE}}%</span>
    </div> -->
  </div>
</div>
