.container {
  display: flex;
  padding: 40px 50px;
  background: #1e1e1e;
  border-radius: 20px;
  .left {
    color: #8aa1a1;
    font-family: "fontDemiBold";
    .value {
      color: #fff;
      font-family: "fontRegular";
    }
    .percentage {
      font-family: "fontRegular";
    }
    ul.usdt-balance {
      margin-top: 20px;
      li.balance-item {
        display: flex;
        align-items: center;
        margin-top: 15px;
        .item-logo {
          position: relative;
          .token-type {
            width: 30px;
            position: absolute;
            left: 2px;
            bottom: 0px;
          }
          img.logo {
            width: 34px;
            height: 34px;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
        .progress-container {
          display: flex;
          width: 100%;
          height: 16px;
          color: #8aa1a1;
          .progress {
            height: 6px;
            width: 300px;
          }
        }
      }
    }
  }
}
