.group-container {
  margin: auto;
  width: 1000px;
  background: #1e1e1e;
  border-radius: 20px;
  display: flex;
  margin-top: 20px;
  display: flex;
  .left,
  .right {
    padding: 30px 50px;
    flex: 1;
    &.left {
      .item-logo-box {
        position: relative;
        .token-type {
          width: 30px;
          position: absolute;
          left: 2px;
          bottom: 0px;
        }
        .token-logo {
          width: 34px;
          height: 34px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .item-list {
        font-family: "fontMedium";
        .token-name {
          font-family: "fontDemiBold";
        }
        .value {
          font-family: "fontRegular";
        }
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      .item-list,
      .progress-container {
        display: flex;
        width: 100%;
        height: 20px;
        color: #8aa1a1;
        .progress {
          height: 6px;
          width: 300px;
        }
      }
    }
    &.right .item-list {
      font-family: "fontRegular";
      color: #8aa1a1;
      justify-content: space-between;
      height: 30px;
      .value {
        color: #46b069;
      }
    }
    .item-list {
      display: flex;
      align-items: center;
      .value {
        color: #ffffff;
        justify-content: space-between;
      }
    }
    > div {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
