<div class="container">
  <div class="left">
    <p class="total-balance">
      USDT+BUSD+HUSD:
      <span class="value">
        <app-long-balance [balance]="pusdtBalance.ALL"></app-long-balance>
      </span>
    </p>
    <ul class="usdt-balance">
      <li class="balance-item">
        <div class="item-logo">
          <img class="logo" [src]="USDTToken.logo" alt="">
          <img class="token-type" src="/assets/images/bridge-liquidity/erc20.png" alt="">
        </div>
        <div class="balance-right">
          <p class="balance-desc">
            USDT:
            <span class="value">
              <app-long-balance [balance]="pusdtBalance.ETH.value"></app-long-balance>
            </span>
            <span class="percentage">&nbsp;({{ pusdtBalance.ETH.percentage }}%)</span>
          </p>
          <div class="progress-container">
            <nz-progress class="progress" [nzPercent]="pusdtBalance.ETH.percentage" [nzShowInfo]="false"
              nzStrokeWidth="6" nzStrokeColor="#46B069">
            </nz-progress>
          </div>
        </div>
      </li>
      <li class="balance-item">
        <div class="item-logo">
          <img class="logo" [src]="BUSDToken.logo" alt="">
          <img class="token-type" src="/assets/images/bridge-liquidity/bep20.png" alt="">
        </div>
        <div class="balance-right">
          <p class="balance-desc">
            BUSD:
            <span class="value">
              <app-long-balance [balance]="pusdtBalance.BSC.value"></app-long-balance>
            </span>
            <span class="percentage">&nbsp;({{ pusdtBalance.BSC.percentage }}%)</span>
          </p>
          <div class="progress-container">
            <nz-progress class="progress" [nzPercent]="pusdtBalance.BSC.percentage" [nzShowInfo]="false"
              nzStrokeWidth="6" nzStrokeColor="#46B069">
            </nz-progress>
          </div>
        </div>
      </li>
      <li class="balance-item">
        <div class="item-logo">
          <img class="logo" [src]="HUSDToken.logo" alt="">
          <img class="token-type" src="/assets/images/bridge-liquidity/hrc20.png" alt="">
        </div>
        <div class="balance-right">
          <p class="balance-desc">
            HUSD:
            <span class="value">
              <app-long-balance [balance]="pusdtBalance.HECO.value"></app-long-balance>
            </span>
            <span class="percentage">&nbsp;({{ pusdtBalance.HECO.percentage }}%)</span>
          </p>
          <div class="progress-container">
            <nz-progress class="progress" [nzPercent]="pusdtBalance.HECO.percentage" [nzShowInfo]="false"
              nzStrokeWidth="6" nzStrokeColor="#46B069">
            </nz-progress>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
