@import "src/styles/variable.scss";
@media screen and (max-width: $mobileMinWidth) {
  .container {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding: 30px 25px;
    .left ul.usdt-balance {
      li.balance-item {
        .item-logo {
          .token-type {
            width: 25px;
            left: 0;
          }
          img.logo {
            width: 25px;
            height: 25px;
          }
        }
        .balance-right {
          width: calc(100% - 30px);
          .progress-container {
            .progress {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
