<section class="page-container">
  <div class="detail">
    <div class="item-container row-1">
      <div class="item-group item-total">
        <div class="group-title">Total</div>
        <div class="group-content"><span>{{ o3Total }}</span> O3</div>
        <div class="group-title">Locked {{ o3Locked }} O3</div>
      </div>
      <div class="item-group">
        <div class="group-title">Available</div>
        <div class="group-content"><span>{{ o3Available }}</span> O3</div>
        <!-- <div class="btn-primary receive-btn">Receive</div> -->
      </div>
      <div class="item-group">
        <div class="group-title">Total Profit</div>
        <div class="group-content"><span>{{ totalProfit }}</span> O3</div>
      </div>
    </div>
    <div class="item-container row-2">
      <div class="list-container">
        <div class="list-head">
          <div class="list-head-title">Unlock O3</div>
          <div class="group-icon">
            <img nz-tooltip nzTooltipTitle="Provide O3 liquidity on DEX to unlock your O3" nzTooltipPlacement="right"
              src="/assets/images/dashboard/doubt.png" alt="">
          </div>
          <!-- <div class="list-head-right">
            <p>
              <span class="name">Unlocked amount:</span>
              &nbsp;
              <span class="value">{{ o3ClaimableUnlocked || '--' }} O3</span>
            </p>
            <p>
              <span class="name">Speed value: </span>
              &nbsp;
              <span class="value">{{ o3UnlockSpeed || '' }}</span>
            </p>
          </div> -->
        </div>
        <div class="tran-list">
          <nz-table class="unlock-zone" nzAlign="center" nzTemplateMode [nzScroll]="{ x: '1200px', y: '500px' }">
            <thead>
              <tr>
                <th *ngIf="!isMobile"></th>
                <th [nzWidth]="isMobile ? '75px': '100px'">Name</th>
                <th>Staked</th>
                <th>Remaining</th>
                <th>Speed</th>
                <th>Unlocked amount</th>
                <th nzRight [nzWidth]="isMobile ? '150px': '350px'"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of stakeUnlockTokenList; let i = index">
                <td *ngIf="!isMobile"><img class="token-img" [src]="item.logo" alt=""></td>
                <td><img *ngIf="isMobile" class="token-img" [src]="item.logo"
                    alt="">{{ stakeUnlockTokenList[i].symbol }}</td>
                <td>{{ item.staked || '--' }}</td>
                <td>{{ item.remaining || '--' }}</td>
                <td>{{ item.speed || '--' }}</td>
                <td>{{ item.claimable || '--' }}</td>
                <td nzRight class="unlock-zone-btn-block">
                  <button class="btn-primary deposit-btn claim-btn" (click)="claimUnlockO3(item)">
                    Claim
                  </button>
                  <button class="btn-primary deposit-btn get-lp-btn" (click)="claimUnlockO3(item)">
                    Get LP
                  </button>
                  <div>
                    <button class="btn-primary stake-btn"
                      (click)="showUnlockStake(stakeUnlockTokenList[i], item.remaining || '0')">
                      Stake
                    </button>
                    <button class="btn-primary unstake-btn"
                      (click)="showUnlockStake(stakeUnlockTokenList[i], item.staked || '0', false)">
                      Unstake
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>

    <div class="item-container row-3">
      <div class="left">
        <div class="title">
          <div class="name">
            Stake LP to Earn O3
          </div>
        </div>
        <div class="group-container">
          <div class="item-group" *ngFor="let item of lpstakingTokenList">
            <div class="item-group-title">
              <div class="token"><img src="" alt="">{{ item.symbol }}</div>
              <div class="right">
                <button class="btn-primary" (click)="showStakingStake(item, item.balance, true)">Stake</button>
                <button class="btn-primary unstake-btn"
                  (click)="showStakingStake(item, item.staked, false)">Unstake</button>
              </div>
            </div>
            <div class="detail-item">
              <div class="col">
                <div class="value">{{ item.staked || '--' }}</div>
                <div class="name">Staked</div>
              </div>
              <div class="col">
                <div class="value">{{ item.balance || '--' }}</div>
                <div class="name">Remaining</div>
              </div>
              <div class="col">
                <div class="value">{{ item.totalStaking || '--' }}</div>
                <div class="name">Total Staking</div>
              </div>
              <div class="col">
                <div class="value">--</div>
                <div class="name">APY%</div>
              </div>
            </div>
            <p class="line"></p>
            <p class="claimable-box">Claimable O3: &nbsp;<span class="value">{{ item.profit }}</span><span
                class="claim-btn" (click)="claimProfit(item)">Claim</span></p>
          </div>
        </div>

      </div>
      <div class="right">
        <div class="title">
          <div class="name">
            Stake Token to Earn O3
          </div>
        </div>
        <div class="group-container">
          <div class="item-group" *ngFor="let item of o3StakingTokenList">
            <div class="name">
              <img [src]="item.logo" alt="" class="token-img">
              <div>
                {{ item.symbol }}
                <p class="claimable-box">Claimable O3: &nbsp;<span class="value">{{ item.profit }}</span><span
                    class="claim-btn" (click)="claimProfit(item)">Claim</span></p>
              </div>

            </div>
            <div class="detail-container">
              <div class="detail-item">
                <div class="value">{{ item.staked || '--' }}</div>
                <div class="name">Staked</div>
              </div>
              <div class="detail-item">
                <div class="value">{{ item.totalStaking || '--' }}</div>
                <div class="name">Total Staking</div>
              </div>
              <div class="detail-item">
                <div class="value">--</div>
                <div class="name">APY%</div>
              </div>
            </div>
            <div class="stake">
              <span (click)="showStakingStake(item, item.balance, true)">Stake</span>
              <span (click)="showStakingStake(item, item.staked, false)">Unstake</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<app-tx-progress [txAtPage]="'vault'"></app-tx-progress>
