.custom-drawer {
  min-height: 400px;
  max-height: 80%;
  &.swap-token {
    height: 540px !important;
  }
  &.swap-setting {
    height: 386px !important;
  }
  &.approve {
    height: 425px !important;
  }
  &.swap-exchange {
    height: 60% !important;
  }
  &.tx-progress {
    height: 70% !important;
  }
  .ant-drawer-content {
    background: #2a2a2a;
    border-radius: 22px 22px 0px 0px;
    .ant-drawer-body {
      padding: 0;
      line-height: 1;
      padding: 18px 0 0;
      height: 100%;
      .header, .mobile-header {
        padding: 0 5%;
        height: 60px;
        line-height: 60px;
        display: flex;
        justify-content: space-between;
        position: relative;
        &.flex-end {
          height: 50px;
          line-height: 50px;
          justify-content: flex-end;
          margin-top: -10px;
        }
        &.border::before {
          content: "";
          position: absolute;
          top: 60px;
          left: 5%;
          right: 5%;
          height: 1px;
          background: #353535;
        }
        .title {
          font-size: 17px;
        }
        .close {
          font-size: 16px;
          color: #46b069;
        }
        img.close {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
