@import "src/styles/variable.scss";
.custom-modal {
  width: 400px !important;
  transform-origin: center !important;
  padding: 0;
  color: #fff;
  top: 260px;
  line-height: 1;
  &.calculator {
    width: 450px !important;
  }
  &.tx-modal {
    width: 360px !important;
  }
  &.connect-wallet-modal {
    width: 420px !important;
  }
  .ant-modal-content,
  .ant-modal-body {
    padding: 0;
    background: #2a2a2a;
    border-radius: 40px;
  }
  .modal-content {
    .header {
      position: relative;
      height: 50px;
      line-height: 50px;
      margin-top: -10px;
      &.padding {
        padding: 15px 20px 15px 30px;
        img.close {
          top: 15px;
          right: 20px;
        }
      }
      .title {
        font-size: 20px;
        font-family: "fontDemiBold";
      }
      img.close {
        position: absolute;
        right: -10px;
        top: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
}
.custom-stake-modal {
  width: 420px !important;
}
.progress-container .ant-progress-inner {
  background-color: #2a2a2a !important;
}

@media screen and (max-width: $mobileMinWidth) {
  .custom-modal {
    width: 80% !important;
    top: 98px;
    .ant-modal-content,
    .ant-modal-body {
      border-radius: 22px;
    }
  }
}
