<div class="main" [ngClass]="{home: isHome}">
  <header>
    <div class="container">
      <a routerLink="/">
        <img class="logo" src="/assets/images/logo.png" alt="">
      </a>
      <ul *ngIf="isHome !== false" [ngClass]="{ 'menu flex-1': isHome !== false }">
        <li [ngClass]="{active: isHome}">
          <a routerLink="/">{{ 'Home' | translate: lang:langPageName }}</a>
        </li>
        <li [ngClass]="{active: currentPage==='/swap'}">
          <a routerLink="/swap">{{ 'Swap' | translate: lang:langPageName }}</a>
        </li>
        <li [ngClass]="{active: currentPage.startsWith('/hub')}">
          <a routerLink="/hub">{{ 'Hub' | translate: lang:langPageName }}</a>
        </li>
        <li [ngClass]="{active: currentPage==='/vault'}">
          <a routerLink="/vault">{{ 'Vault' | translate: lang:langPageName }}</a>
        </li>
        <li class="add-width">
          <a nz-tooltip [nzTooltipTitle]="'ComingSoon' | translate: lang:langPageName"
            nzTooltipPlacement="bottom">{{ 'Dashboard' | translate: lang:langPageName }}</a>
        </li>
        <li>
          <a href="https://medium.com/o3-labs-o3-wallet" target="_blank">{{ 'Blog' | translate: lang:langPageName }}</a>
        </li>
        <!-- <li class="add-width" [ngClass]="{active: currentPage.startsWith('/governance')}">
          <a>{{ 'Governance' | translate: lang:langPageName }}</a>
        </li> -->
        <li class="add-width">
          <a nz-tooltip [nzTooltipTitle]="'ComingSoon' | translate: lang:langPageName"
            nzTooltipPlacement="bottom">{{ 'Governance' | translate: lang:langPageName }}</a>
        </li>
        <li>
          <a href="https://docs.o3swap.com/" target="_blank">{{ 'Doc' | translate: lang:langPageName }}</a>
        </li>
      </ul>
      <ul *ngIf="isHome === false" [ngClass]="{ 'left-menu': isHome === false, showRisk: showRisk }">
        <li [ngClass]="{active: isHome}">
          <a routerLink="/">{{ 'Home' | translate: lang:langPageName }}</a>
        </li>
        <li [ngClass]="{active: currentPage==='/swap'}">
          <a routerLink="/swap">{{ 'Swap' | translate: lang:langPageName }}</a>
        </li>
        <li [ngClass]="{active: currentPage.startsWith('/hub')}">
          <a routerLink="/hub">{{ 'Hub' | translate: lang:langPageName }}</a>
        </li>
        <li [ngClass]="{active: currentPage==='/vault'}">
          <a routerLink="/vault">{{ 'Vault' | translate: lang:langPageName }}</a>
        </li>
        <li>
          <a nz-tooltip [nzTooltipTitle]="'ComingSoon' | translate: lang:langPageName" nzTooltipPlacement="right"
            [nzTooltipOrigin]="button2.elementRef">
            <span nz-element #button2="nzElement">{{ 'Dashboard' | translate: lang:langPageName }}</span>
          </a>
        </li>
        <li>
          <a href="https://medium.com/o3-labs-o3-wallet" target="_blank">{{ 'Blog' | translate: lang:langPageName }}</a>
        </li>
        <li>
          <a nz-tooltip [nzTooltipTitle]="'ComingSoon' | translate: lang:langPageName" nzTooltipPlacement="right"
            [nzTooltipOrigin]="button3.elementRef">
            <span nz-element #button3="nzElement">{{ 'Governance' | translate: lang:langPageName }}</span>
          </a>
        </li>
        <li>
          <a href="https://docs.o3swap.com/" target="_blank">{{ 'Doc' | translate: lang:langPageName }}</a>
        </li>
      </ul>
      <div class="right">
        <app-header-connect *ngIf="isHome===false && currentPage!=='/vault'"></app-header-connect>
        <app-vault-header-connect *ngIf="isHome===false && currentPage==='/vault'"></app-vault-header-connect>
        <img class="mobile-menu-icon" (click)="showMobileMenu=!showMobileMenu" src="/assets/mobile-images/menu.png"
          alt="">
        <div class="language" *ngIf="!isHome">
          <span class="canClick" [ngClass]="{active: lang==='en'}" (click)="changeLang('en')">EN</span>
          <span class="line">|</span>
          <span class="canClick" [ngClass]="{active: lang==='zh'}" (click)="changeLang('zh')">中文</span>
        </div>
        <img *ngIf="isHome===false" class="tx-list-icon" (click)="showTxList=true" src="/assets/images/tx-list.png"
          alt="">
      </div>
    </div>
  </header>
  <div class="risk-tip" *ngIf="showRisk && !isHome">
    <img class="risk-icon" src="/assets/images/risk-icon.png" alt="">
    <div class="risk-tip-text-box">
      <span class="risk-tip-text">{{ 'riskTip' | translate: lang:langPageName }}</span>
    </div>
    <img (click)="closeRisk()" class="close" src="/assets/images/close-risk.png" alt="">
  </div>
  <router-outlet></router-outlet>
</div>

<section class="cover" *ngIf="showMobileMenu" (click)="showMobileMenu=false">
  <ul class="mobile-menu scroll" *ngIf="showMobileMenu" (click)="stopPropagation($event)">
    <li class="recent-tx">
      <img (click)="showTxList=true" src="/assets/images/tx-list.png" alt="">
      <span (click)="showTxList=true">{{ 'RecentTransactions' | translate:lang:langPageName}}</span>
    </li>
    <li [ngClass]="{active: isHome}" (click)="toUrl('/')">
      {{ 'Home' | translate: lang:langPageName }}
    </li>
    <li [ngClass]="{active: currentPage==='/swap'}" (click)="toUrl('/swap')">
      {{ 'Swap' | translate: lang:langPageName }}
    </li>
    <li [ngClass]="{active: currentPage.startsWith('/hub')}" (click)="toUrl('/hub')">
      {{ 'Hub' | translate: lang:langPageName }}
    </li>
    <li [ngClass]="{active: currentPage==='/vault'}" (click)="toUrl('/vault')">
      {{ 'Vault' | translate: lang:langPageName }}
    </li>
    <li nz-tooltip [nzTooltipTitle]="'ComingSoon' | translate: lang:langPageName" nzTooltipPlacement="bottom">
      {{ 'Dashboard' | translate: lang:langPageName }}
    </li>
    <li (click)="toUrl('https://medium.com/o3-labs-o3-wallet')">
      {{ 'Blog' | translate: lang:langPageName }}
    </li>
    <li nz-tooltip [nzTooltipTitle]="'ComingSoon' | translate: lang:langPageName" nzTooltipPlacement="bottom">
      {{ 'Governance' | translate: lang:langPageName }}
    </li>
    <li (click)="toUrl('https://docs.o3swap.com/')">
      {{ 'Doc' | translate: lang:langPageName }}
    </li>
    <li class="language">
      <span [ngClass]="{active: lang==='en'}" (click)="changeLang('en')">EN</span>
      <span class="line">|</span>
      <span [ngClass]="{active: lang==='zh'}" (click)="changeLang('zh')">中文</span>
    </li>
  </ul>
</section>

<app-tx-list *ngIf="showTxList" (closeThis)="showTxList=false"></app-tx-list>
