@import "src/styles/variable.scss";
section.wrapper {
  line-height: 1;
  padding-bottom: 40px;
  .header {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  .token-amount-container {
    margin: 0 30px;
    margin-top: 34px;
    padding: 20px;
    background: #303030;
    border-radius: 20px;
    .top {
      font-size: 16px;
      font-weight: 400;
      color: #8aa1a1;
      font-family: "fontRegular";
    }
    .asset {
      margin-top: 20px;
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-radius: 50%;
      }
      .asset-name {
        margin: 0 5px;
        width: 90px;
        font-size: 18px;
        color: #fff;
        font-family: "fontRegular";
      }
      input {
        height: 40px;
        width: calc(100% - 130px);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 24px;
        text-align: right;
        &::placeholder {
          color: #4a4a4a;
        }
        &.focus {
          background: #2b312d;
          border: 1px solid #46b069;
        }
      }
    }
  }
  .balance {
    padding: 0 40px;
    color: #8aa1a1;
    margin-top: 14px;
    font-family: "fontRegular";
    &.recommend-stake-lp {
      padding: 0 40px;
    }
  }
  .btn {
    cursor: pointer;
    margin: auto;
    margin-top: 35px;
    width: 360px;
    height: 60px;
    background: #46b069;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
  }
}

@media screen and (max-width: $mobileMinWidth) {
  section.wrapper {
    height: 100%;
    .header {
      display: none;
    }
    .mobile-header {
      display: flex;
    }
    .token-amount-container {
      margin: 0 5%;
      margin-top: 10px;
      padding: 5%;
      border-radius: 11px;
      .asset {
        .asset-name {
          font-size: 16px;
        }
      }
    }
    .balance {
      padding: 0 5%;
      &.recommend-stake-lp {
        padding: 0 5%;
      }
    }
    .btn {
      width: 90%;
      height: 56px;
      border-radius: 11px;
      font-size: 16px;
    }
  }
}
