.connect-modal-content {
  height: 360px;
  padding: 30px;
  &.mobile-content {
    height: 100%;
    padding: 0;
    .wallet-type {
      padding-left: 90px;
    }
  }
  .chains {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 270px;
    width: 70px;
    background: #222222;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    padding: 10px 15px;
    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #ffffff1a;
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      cursor: pointer;
      margin-top: 16px;
      &.eth {
        background-image: url("/assets/images/chains/eth.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/eth-active.png");
        }
      }
      &.neo {
        background-image: url("/assets/images/chains/neo.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/neo-active.png");
        }
      }
      &.bsc {
        background-image: url("/assets/images/chains/bsc.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/bsc-active.png");
        }
      }
      &.heco {
        background-image: url("/assets/images/chains/heco.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/heco-active.png");
        }
      }
    }
  }
  .wallet-type {
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 70px;
    margin-top: 35px;
  }
}
